body {
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: black;
    background-color: white;
}

div#heading {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    background: white;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
    height: auto;
}

div#content {
    padding-left: 6em;
}

h1 {
    display: inline;
    margin-right: 10px;
}

h2 { margin: 0px auto 0.5em auto; }

h3 {
    display: inline;
    border-bottom: 1px solid #00AC18;
}

ul#menu {
    list-style-type: none;
    display: inline;
    padding: 0px 10px 10px 0px;
    margin: 0px;
    float: left;
}

p#footer {
    font-size: smaller;
    color: #828282;
    background-color: inherit;
    padding-top: 10px;
    border-top: 1px solid black;
}

a:hover {
    color: #B40206;
    background-color: inherit;
}

acronym { border-bottom: 1px dotted black; }
