<style type="text/css">
<!--
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
}
td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #FFFFFF;
}
th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-style: bold;
  color: #FFFFFF;
}
h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-style: bold;
  color: #FFFFFF;
}
.newshead {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-style: bold;
  color: #000000;
}
-->
</style>