<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>wadny.com - {{ include.title }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css">
    <script src="/scripts/randomizer.js" defer></script>
    <script src="/scripts/script.js" defer></script>
</head>

<body>
    <header>
        <a href="/" title="Return to the front page of wadny.com" accesskey="1">
            <img id="icon" src="/icons/tupperware.gif" width="32" height="32" alt="Go back to the front page of wadny.com">
            <h1>wadny.com by qid</h1>
        </a>
        <h2 id="quote">— this is where I’d put my random quote… IF I HAD ONE!</h2>
    </header>
    <div id="line"></div>
    <main>