{%- capture thistitle -%}Post archives for {{ page.date | date: "%B %-d, %Y" }}{%- endcapture -%}
{% include header.html title=thistitle %}
        <h1>Post archives for <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time></h1>
        {% for post in page.posts %}
        <article>
        <h2><a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">{{ post.title }}</a></h2>
        {{ post.content }}
        </article>
        {% unless forloop.last %}<hr>{% endunless %}
        {%- endfor %}
        <ul id="duringnav">
            {%- assign days = site.posts | group_by_exp: "item", "item.date | date: '%Y/%m/%d^%B %-d, %Y'" | map: "name" | sort -%}
            {%- assign currentDay = page.date | date: "%Y/%m/%d^%B %-d, %Y" -%}
            {%- assign prevDay = "start" -%}
            {%- for day in days -%}
                {%- assign dayCode = day | split: '^' | first -%}
                {%- assign dayStr = day | split: '^' | last -%}
                {%- if day == currentDay %}
                    {%- if prevDay != "start" %}
                        {%- assign prevDayCode = prevDay | split: '^' | first -%}
                        {%- assign prevDayStr = prevDay | split: '^' | last %}
            <li><a href="/news/during/{{ prevDayCode }}/" rel="prev" title="View posts from {{ prevDayStr }}">← <time datetime="{{ prevDayCode | replace: '/', '-' }}">{{ prevDayStr }}</time></a></li>
                    {%- endif %}
            <li><a href="/news/during/{{ page.date | date: "%Y/%m" }}/" rel="parent">&#8593; Up to <time datetime="{{ page.date | date: "%Y-%m" }}">{{ page.date | date: "%B, %Y" }}</time></a></li>
                {%- elsif prevDay == currentDay %}
            <li><a href="/news/during/{{ dayCode }}/" rel="next" title="View posts from {{ dayStr }}"><time datetime="{{ dayCode | replace: '/', '-' }}">{{ dayStr }}</time> →</a></li>
                {%- endif -%}
                {%- assign prevDay = day -%}
            {%- endfor %}
        </ul>
{% include footer.html %}