/******************************************************************************
 * Mobile device (small screen) layout styles
 *****************************************************************************/

body {
    margin: 0;
    width: auto;
}

/* ensure text is visible */
header h2 { background-color: #5E97CC; }
body.spring header h2 { background-color: #4f7ea8; }
/* TODO: summer */
/* TODO: fall */
body.winter header h2 { background-color: #faf7e6; }

button#menuToggle {
    display: block;
    float: right;
    font-size: 150%;
}

main {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

nav {
    display: none;
    border-width: 1px;
}

nav.open {
    display: block;
    position: absolute;
    right: 10px;
    top: 6em;
}