/******************************************************************************
 * Mobile device (small screen) layout styles
 *****************************************************************************/

body {
    grid-template:
        "header" auto
        "line"   11px /* include border */
        "main"    1fr
        "footer" auto
        / 100vw;
    justify-content: stretch;
    margin: 0;
}

/* ensure text is visible */
header h2 { background-color: #5E97CC; }
body.spring header h2 { background-color: #4f7ea8; }
/* TODO: summer */
/* TODO: fall */
body.winter header h2 { background-color: #faf7e6; }

button#menuToggle {
    display: block;
    float: right;
    padding: 5px 5px 0 5px;
}

main {
    padding-left: 10px;
}

nav {
    display: none;
    border-width: 1px;
    max-width: 20em;
}

nav.open {
    display: block;
    position: absolute;
    right: 10px;
    top: 6em;
}