<style type="text/css">
<!--
A:link {
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: #0B2B5B;
font-weight: bold;
}

A:visited {
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: #25680A;
font-weight: bold;
}

A:active {
text-decoration: underline;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: #FFFFFF;
font-weight: bold;
}

A:hover {
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: #0B2B5B;
font-weight: bold;
}

td {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: lighter;
/*padding-right: 5px;*/
align: center;
color: #000000;
}

th {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9pt;
font-weight: bold;
padding-right: 5px;
align: center;
color: #000000;
}

b {
font-weight: bold;
}

body {
font-size: 8pt;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

h3 {
font-size: 12pt;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
}
-->
</style>