body {
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: white;
	color: black;
	width: 700px;
	margin: 0 10px 10px 10px;
}

html>body {
	margin-left: auto;
	margin-right: auto;
}

div#header {
	border-bottom: 1px solid black;
	background-color: #D5E1D6;
	padding: 15px 15px 15px 0;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Palatino Linotype', 'Times New Roman', serif; }

h1 {
	border-left: 10px solid #F1E5C5;
	background-color: #D4DCE2;
	margin: 0 10px 0 0;
	padding: 15px;
	display: inline;
}

h2 {
	margin: 0;
	display: inline;
	text-transform: lowercase;
}

div#sidebar {
	float: left;
	width: 150px;
}

div#content {
	float: left;
	width: 540px;
	text-align: justify;
}

body>div#content { margin-top: -10px; }

ul#menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#menu ul {
	list-style: url(bullet.png);
	margin: 0;
	padding: 0 0 0 15px;
}

ul#menu li { margin-bottom: 2px; }

a { color: #1C298C; }
a:visited { color: #8D1B20; }
a:hover { text-decoration: none; }

p#footer {
	clear: both;
	border-top: 1px solid black;
	margin: 0;
	padding-top: 5px;
	font-size: smaller;
}