A { text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif; }
A:link { color: #FF0000; }
A:visited { color: #087318; }
A:active { color: #000000; }
A:hover { color: #000000; }

body {
    background-color: black;
    color: black;
    font-size: 8pt;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
}
table {
    border: 0;
}
tr {
    margin: 0;
    padding: 0;
}
td {
    font-size: 8pt;
    margin: 0;
    padding: 0;
}
th {
    margin: 0;
    padding: 0;
    font-size: 8pt;
    color: #000000;
    font-weight: bold;
    text-align: left;
    background-color: #808080; 
}
img {
    margin: 0;
    padding: 0;
}
h1 { font-size: 16pt; }
