{%- capture thistitle -%}Post archives for {{ page.date | date: "%B %-d, %Y" }}{%- endcapture -%}
{% include header.html title=thistitle %}
        <h1>{{ thistitle }}</h1>
        {% for post in page.posts %}
        <article>
        <h2><a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">{{ post.title }}</a></h2>
        <h3>― {{ post.date | date: "%B %-d, %Y" }}</h3>
        {{ post.excerpt }}
        </article>
        {%- endfor %}
        <ul id="duringnav">
            {%- assign days = site.posts | group_by_exp: "item", "item.date | date: '%Y/%m/%d^%B %-d, %Y'" | map: "name" | sort -%}
            {%- assign currentDay = page.date | date: "%Y/%m/%d^%B %-d, %Y" -%}
            {%- assign prevDay = "start" -%}
            {%- for day in days -%}
                {%- if day == currentDay %}
                    {%- if prevDay != "start" %}
            <li><a href="/news/during/{{ prevDay | split: '^' | first }}/" rel="prev" title="View posts from {{ prevDay | split: '^' | last }}">← {{ prevDay | split: '^' | last }}</a></li>
                    {%- endif %}
            <li><a href="/news/during/{{ page.date | date: "%Y/%m" }}/" rel="parent">&#8593; Up to {{ page.date | date: "%B, %Y" }}</a></li>
                {%- elsif prevDay == currentDay %}
            <li><a href="/news/during/{{ day | split: '^' | first }}/" rel="next" title="View posts from {{ day | split: '^' | last }}">{{ day | split: '^' | last }} →</a></li>
                {%- endif -%}
                {%- assign prevDay = day -%}
            {%- endfor %}
        </ul>
{% include footer.html %}