{% include header.html title=page.title %}
        <h1>{{ page.title }}</h1>
        <h2>― {{ page.date | date: "%B %-d, %Y" }}</h2>
{{ content }}
        <ul id="duringnav">
            {%- assign revposts = site.posts | reverse -%}
            {%- assign prevPost = "start" -%}
            {%- assign prevTitle = "start" -%}
            {%- assign prevDate = "start" -%}
            {%- for post in revposts -%}
                {%- if post.url == page.url %}
                    {%- if prevPost != "start" %}
            <li><a href="{{ prevPost }}" title="View “{{ prevTitle }}” from {{ prevDate }}">← {{ prevTitle }} ({{ prevDate }})</a></li>
                    {%- endif %}
            <li><a href="/news/during/{{ page.date | date: "%Y/%m/%d" }}/">&#8593; Up to {{ page.date | date: "%B %d, %Y" }}</a></li>
                {%- elsif prevPost == page.url %}
            <li><a href="{{ post.url }}" title="View “{{ post.title }}” from {{ post.date | date: "%B %-d, %Y" }}">{{ post.title }} ({{ post.date | date: "%B %-d, %Y" }}) →</a></li>
                {%- endif -%}
                {%- assign prevPost = post.url -%}
                {%- assign prevTitle = post.title -%}
                {%- assign prevDate = post.date | date: "%B %-d, %Y" -%}
            {%- endfor %}
        </ul>
{% include footer.html %}